@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Share Tech;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
#quizStart {
  display: flex;
  padding: 40px;
  font-size: 60px;
  border-radius: 30px;
  position: absolute;
}
.quizBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 750px;
  width: 75%;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.5);
  gap: 50px;
  padding: 60px;
}

#questionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 75%;
  height: 80px;
}

#optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  width: 75%;
  height: auto;
}

.optionButton {
  color: black;
}

.optionButton.grow {
  transform: scale(1.25);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 38px;
  text-align: center;
  color: black;
}

#optionsContainer button {
  width: 75%;
  padding: 20px;
  border-radius: 20%;
  justify-content: center;
  font-size: 24px;
}
#nxtBtn {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 30px;
  padding: 15px;

  background-color: black;
  color: white;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#restartButton {
  display: none;
  padding: 20px;
  font-size: 16px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

#scoreContainer {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#displayIt {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 100%;
  height: 25%;
  color: black;
}

#qNum {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#questionNumber {
  font-size: 40px;
}
